.background-image {
    background-image: url('https://media.discordapp.net/attachments/1091296534370471997/1167377054149394492/illust_107073598_20231027_150822.png?'); /* Specify the URL of your background image */
    background-size: cover; /* Adjust background size as needed */
    background-position: center; /* Adjust background position as needed */
    background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
  }