@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.background-image1 {
  background-image: url('https://media.discordapp.net/attachments/1091296534370471997/1167376938076221490/illust_111369621_20231027_151506.jpg?'); /* Specify the URL of your background image */
  background-size: cover; /* Adjust background size as needed */
  background-position: center; /* Adjust background position as needed */
  background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
}
.background-image2 {
  background-image: url('https://media.discordapp.net/attachments/1091296534370471997/1167377009228398602/illust_107550217_20231027_151252.png?'); /* Specify the URL of your background image */
  background-size: cover; /* Adjust background size as needed */
  background-position: center; /* Adjust background position as needed */
  background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
}
.background-image3 {
  background-image: url('https://media.discordapp.net/attachments/1091296534370471997/1167376989951381534/illust_111550697_20231027_151623.png?'); /* Specify the URL of your background image */
  background-size: cover; /* Adjust background size as needed */
  background-position: center; /* Adjust background position as needed */
  background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
}
.background-image4 {
  background-image: url('https://media.discordapp.net/attachments/1091296534370471997/1167377026156605440/illust_106934558_20231027_151353.png?ex=654de793&is=653b7293&hm=405de0aa0766b41a2e170d95e68d8d8233dbcf9e895fb852739de2d789859f1e&=&width=883&height=588'); /* Specify the URL of your background image */
  background-size: cover; /* Adjust background size as needed */
  background-position: center; /* Adjust background position as needed */
  background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
}
.background-image5 {
  background-image: url('https://media.discordapp.net/attachments/1091296534370471997/1167377054149394492/illust_107073598_20231027_150822.png?ex=654de79a&is=653b729a&hm=da055fbce800724e3f9fc5679446b946b1090fdee32b962c130cab14b93bb15e&=&width=986&height=616'); /* Specify the URL of your background image */
  background-size: cover; /* Adjust background size as needed */
  background-position: center; /* Adjust background position as needed */
  background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
}
.background-image6 {
  background-image: url('https://media.discordapp.net/attachments/1091296534370471997/1174569750114881617/113381830_p0_master1200.jpg?ex=65681252&is=65559d52&hm=07d403ba600a26d95bdec64475a512f50e3f068bbcf019800121fedcee365af7&=&width=488&height=627');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-image7 {
  background-image: url('https://media.discordapp.net/attachments/1091296534370471997/1174570915762286662/112903533_p0.png?ex=65681368&is=65559e68&hm=5811985618f8ab03e7d5a63f1496407895472264bec04fc7fb7bee2e2c3aba27&=&width=395&height=627'); /* Specify the URL of your background image */
  background-size: cover; /* Adjust background size as needed */
  background-position: center; /* Adjust background position as needed */
  background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
}

#video-background {
  position: fixed;
  z-index: -1;
  width: 100%;
}

.videos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.bg {
  margin: 10px;
  background: #e6f7ff;
  padding: 10px;
  border: 1px solid #00e60c;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.video {
  margin: 10px;
  background: #e6f7ff;
  padding: 10px;
  border: 1px solid #00e60c;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.video1 {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.video2 {
  margin: 50px;
  background: #e6f7ff;
  padding: 50px;
  border: 1px solid #00e60c;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  
}

.background-video {
  position: relative;
  overflow: hidden;
}

#myBackgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex {
  position: relative;
  z-index: 1;
}

.video-background {
  z-index: 0; /* Set a lower z-index for the video so that it stays behind the content */
}

/* Rest of your existing styles */
