/* YourStyles.css */

.background-image {
    background-image: url('https://media.discordapp.net/attachments/1091296534370471997/1167376938076221490/illust_111369621_20231027_151506.jpg?'); /* Specify the URL of your background image */
    background-size: cover; /* Adjust background size as needed */
    background-position: center; /* Adjust background position as needed */
    background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
  }
  